' This is a sample configuration file.

Const ConfigParm1 = "this is Part two"

'these have to have quotes for text to show

Const canthavespaces = "the variables can not"

Const NewVar = "and it worked"

Const scriptteacher = "I might as well"

' Normally no subroutines would be located within a
' configuration file.
' This is just to demonstrate that it is possible.

Sub Sub1()
   WScript.Echo "this just demonstrates that Sub1 is running from the code in the config file"
   End Sub
'i  CAN RUN A SCRIPT IN THE VARIABLES FILE TOO
